<ul>
	<li>News:
	<a href="http://taz.de">Taz</a>, <a href="http://www.liberation.fr/">Libération</a>, <a href="http://www.nytimes.com/pages/world/index.html">NY Times</a>, <a href="http://english.aljazeera.net/news/asia/">Al Jazeera</a>, 
	</li>
	<li>Thoughts:
	<a href="http://bldgblog.blogspot.com/">BldgBlog</a>,
	<a href="http://bookforum.com/blog/">Bookforum</a>,
	<a href="http://www.eurozine.com/">Eurozine</a>,
	<a href="http://www.3quarksdaily.com/">3 Quarks daily</a>,
	<a href="http://www.newyorker.com/">New Yorker</a>,
	<a href="http://k-punk.abstractdynamics.org/">K-punk</a>
	</li>
	<li>Politics: 
	<a href="http://www.opendemocracy.net">Open Democracy</a>,
	<a href="http://liberalconspiracy.org/">Liberal Conspiracy</a>,
	<a href="http://artgoldhammer.blogspot.com/">Art Goldhammer</a>
	</li>
	<li>Links and snippets: <a href="http://www.wired.com/beyond_the_beyond/">Bruce Sterling</a>,	<a href="http://www.marginalrevolution.com/">Marginal Revolution</a></li>
	<li>Research-watching
	<a href="http://bps-research-digest.blogspot.com/">BPS (psychology)</a>,
	</li>
	<li>Chicken Soup:
	Laurie [<a href="http://steerpikelet.livejournal.com/52059.html">1</a>,<a href="http://withiel.blogspot.com/2006/04/fuck-off-with-your-non-invasive.html">2</a>,<a href="http://pennyred.blogspot.com/2007/11/we-have-acheived-preambulation-bring-me.html">3</a>,<a href="http://pennyred.blogspot.com/2008/01/catastrophe-princesses-and-other.html">4</a>], <a href="http://www.baldwinpage.com/bruno.html">Bruno</a>, 
	</li>
	<li>On disk: kool-aid, fear and loathing.
	<li>Elsewhere:
	<a href="http://delicious.com/oedipa/toread">del.icio.us bookmarks</a>
	<a href="http://bloglines.com/myblogs">Bloglines</a>
	</li>
	<li>Study:
  <a href="http://inglua.com/study">inglua</a>	
	</li>
</ul>
